.freeform-search {
  position: relative;
  .search-input {
    padding: 8px 35px 8px 8px;
  }
  button {
    position: absolute;
    top: 4px;
    right: 1px;
    border: 0 none;
    padding-left: 0;
    &:hover, &:focus, &:active {
      background: none !important;
    }
  }
}
