<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Copyright (c) 2014 by mine Systems, Inc. -->
<html class="no-js">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Resty</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<script data-main="main" src="./js/vendor/require/require.js"></script>-->
<style>
body {
  margin-top: 50px;
}
</style>
<script type="text/javascript">
    var mine = {};
    function onload(event) {
        console.log("Called body.onload()!");
    }
</script>
</head>

<body>
  <div class="container">
    <h4>Test summary</h4>
</div>
 <div class="container">
   <h3>Sample JSON services for general consumption.</h3>
   <p>
     There data apis can be used for testing of UI components. We have data service to retuen data in custon result sizes and also supports pagination.
   </p>
 </div>
</body>

</html>
